/***** Broncos Desktop *****/
.nrl-nav {
	background-color: #0055a5;
	background-image: -webkit-linear-gradient(top,#cc0000 47%,#a30000 53%);
	background-image: -moz-linear-gradient(top,#cc0000 47%,#a30000 53%);
	background-image: -o-linear-gradient(top,#cc0000 47%,#a30000 53%);
	background-image: -ms-linear-gradient(top,#cc0000 47%,#a30000 53%);
	background-image: linear-gradient(top,#cc0000 47%,#a30000 53%);
}