/***** dragons *****/
.nrl-header {
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.49, #9c0251), /* top line */
    color-stop(0.5, #7e0241) /* bottom */
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #9c0251 49%,
	    #7e0241 50%
	);
	background-image: linear-gradient(
		to bottom, 
		#9c0251 49%,
	    #7e0241 50%
	);
}
#nrl-logo {
	background-size: auto 100%;
}