/**** Global.css for Brampton Finance *****/


.nrl-header, hgroup, menu, .nrl-nav, section {
    display: block; 
}

.html, nrl-body, body.integratedBody, .nrl-header, .nrl-nav, menu, .nrl-menu-item {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; 
}


/* 1.ROOT */

html {
	overflow-y: scroll;
	background: #fff;
}
.nrl-body, body.integratedBody { 
	margin: 0 auto;
	padding: 0;
	width: 100% /* 252px */;
	color: #333; 
	background-color: transparent;
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}


.nrl-menu-item {
    font: 100%/1.4 "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial;
    vertical-align: middle;
    font-size:13pt;
}

#nrlFooter {
	font: 100%/1.4 "Open Sans", "Helvetica Neue", Helvetica, Arial;
    text-align:left;
    margin-top:-15px;
}

/***** Header *****/

#nrl-sponsor,
#nrl-AdLeaderboard {
	display: none;
}
.nrl-nav {
	display: none;
	background: #333;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
.nrl-nav a,
.nrl-nav a:visited {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 11px;
	text-transform: uppercase;
	border-bottom: 1px solid #232323;
	border-top: 1px solid #363636;
}
.nrl-nav a:hover {
	background: #fff;
	color: #666;
}
.nrl-header {
	height: 44px;
	position: relative;
}
#nrl-mobile-logo {
    top: 0;
    height: 44px;
}
#nrl-content {
	/*padding: 12px;*/
}
/*.clubmenu*/

/***** Footer *****/

#nrlFooter {
	display: none;
}


#nrlFooter div,
input,
textarea  { 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box; 
}

