/***** dragons *****/
.nrl-header {
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.49, #ff931f), /* top line */
    color-stop(0.5, #ff8400) /* bottom */
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #ff931f 49%,
	    #ff8400 50%
	);
	background-image: linear-gradient(
		to bottom, 
		#ff931f 49%,
	    #ff8400 50%
	);
}
#nrl-logo {
	background-size: auto 100%;
}