/***** Broncos Desktop *****/
.nrl-nav {
	background-color: #ac0053;
	background-image: -webkit-linear-gradient(top,#ac0053 47%,#83003f 53%);
	background-image: -moz-linear-gradient(top,#ac0053 47%,#83003f 53%);
	background-image: -o-linear-gradient(top,#ac0053 47%,#83003f 53%);
	background-image: -ms-linear-gradient(top,#ac0053 47%,#83003f 53%);
	background-image: linear-gradient(top,#ac0053 47%,#83003f 53%);
}