/***** Broncos Desktop *****/
.nrl-nav {
	background-color: #ffc423;
	background-image: -webkit-linear-gradient(top,#ffd970 47%,#ffc423 53%);
	background-image: -moz-linear-gradient(top,#ffd970 47%,#ffc423 53%);
	background-image: -o-linear-gradient(top,#ffd970 47%,#ffc423 53%);
	background-image: -ms-linear-gradient(top,#ffd970 47%,#ffc423 53%);
	background-image: linear-gradient(top,#ffd970 47%,#ffc423 53%);
}
.nrl-nav li.home a {
	text-indent: -9999px;
    background: url(/png/home_alt) no-repeat 15px 11px;
	width: 20px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
}
.nrl-nav li.active a {
	background-color: #fff;
	color: #555;
}
.nrl-nav a,
.nrl-nav a:visited {
	padding: 0 12px;
	line-height: 36px;
	border: none;
	color: #333;
}